#top_area {
	width: 100%;
	margin: 2px;
	clear: both;
}

#staff_panel {
	border: 1px solid gray;
	float: left;
	width: 15%;
	overflow: auto;
}

#activity_panel {
	border: 1px solid gray;
	width: 68%;
	float: left;
	margin: 2%;
	background-color: #FBFBFB;
}

#stuff_panel {
	width: 12%;
	float: right;
}
#stuff_panel #file_panel {
	border: 1px solid gray;
	height: 50px;
}
#stuff_panel #file_panel .add_file {
	border: 1px solid black;
	width: 100%;
	margin-bottom: 0;
	text-align: center;
}
#stuff_panel #tag_panel {
	border: 1px solid gray;
	height: 30px;
	margin-top: 28px;
}

#middle_area {
	width: 100%;
	clear: both;
}

#image_panel {
	border: 1px solid gray;
	width: 68%;
	float: left;
}
#image_panel img {
	width: 100%;
}
#intro_panel {
	width: 30%;
	height: 100%;
	float: right;
	background-color: #C1FF7A;
}