<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">		
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>	
		<property name="url">
			<value>jdbc:mysql://localhost:3306/beta</value>
		</property>			
		<property name="username">
			<value>root</value>
		</property>		
		<property name="password">
			<value>123456</value>
		</property>			
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">	
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>User.hbm.xml</value>
				<value>Club.hbm.xml</value>
				<value>Province.hbm.xml</value>
				<value>City.hbm.xml</value>
			</list>
		</property>		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					<!-- org.hibernate.dialect.MySQLDialect -->
					com.ccf.util.MySQL5Dialect
				</prop>
				<prop key="hibernate.show_sql">
					true
				</prop>
				<prop key="hibernate.connection.release_mode">	<!-- For releasing JDBC resource -->
					after_transaction
				</prop>
				<!-- 此处应用于DAOImpl处的update，可不用重更新所有的数据 -->
				<prop key="hibernate.current_session_context_class">
					thread
				</prop> 
			</props>
		</property>		
	</bean>
	
	
	<!-- config dao class -->
	<bean id="userDao" class="com.ccf.dao.impl.UserDAOImpl" scope="singleton">	<!-- 无状态，仅用于保存前面传过来的数据 -->	
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>		
	</bean>
	
	<bean id="clubDao" class="com.ccf.dao.impl.ClubDAOImpl" scope="singleton">	<!-- 无状态，仅用于保存前面传过来的数据 -->	
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>		
	</bean>
	
	<bean id="provinceDao" class="com.ccf.dao.impl.ProvinceDAOImpl" scope="singleton">	<!-- 无状态，仅用于保存前面传过来的数据 -->	
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>		
	</bean>
	
	<bean id="cityDao" class="com.ccf.dao.impl.CityDAOImpl" scope="singleton">	<!-- 无状态，仅用于保存前面传过来的数据 -->	
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>		
	</bean>
	
	<bean id="stevDao" class="com.ccf.dao.impl.StevDAOImpl" scope="singleton">	<!-- 无状态，仅用于保存前面传过来的数据 -->	
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>		
	</bean>
	
	
	<!-- config service -->
	<bean id="userService" class="com.ccf.service.impl.UserServiceImpl"> <!-- scope默认singleton -->	
		<property name="userDao" ref="userDao" />	
	</bean>
	
	<bean id="clubService" class="com.ccf.service.impl.ClubServiceImpl">
		<property name="clubDao" ref="clubDao" />	
	</bean>
	
	<bean id="provinceService" class="com.ccf.service.impl.ProvinceServiceImpl">
		<property name="provinceDao" ref="provinceDao" />	
	</bean>
	
	<bean id="cityService" class="com.ccf.service.impl.CityServiceImpl">
		<property name="cityDao" ref="cityDao" />	
	</bean>
	
	<bean id="stevService" class="com.ccf.service.impl.StevServiceImpl"> <!-- scope默认singleton -->	
		<property name="stevDao" ref="stevDao" />	
	</bean>
	
	
	<!-- config action --> 
	<!-- UserAction -->
	<bean id="userRegisterAction" class="com.ccf.action.user.RegisterUserAction" scope="prototype">	
		<property name="service" ref="userService" />	
	</bean>
	
	<bean id="listUserAction" class="com.ccf.action.user.ListUserAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="goToHomepageAction" class="com.ccf.action.user.HomePageAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="enterClubAction" class="com.ccf.action.user.MyClubAction" scope="prototype">
		<property name="userService" ref="userService" />
		<property name="clubService" ref="clubService" />
	</bean>
	
	<bean id="goToProfileAction" class="com.ccf.action.user.HomePageAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="goToSettingPageAction" class="com.ccf.action.user.HomePageAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="updateUserProfileAction" class="com.ccf.action.user.UpdateUserAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="autoLoginAction" class="com.ccf.action.user.CheckUserLogin" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="userLoginAction" class="com.ccf.action.user.UserLoginAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="userLogoutAction" class="com.ccf.action.user.UserLogoutAction" scope="prototype" />
	
	<bean id="inviteJoin" class="com.ccf.action.user.InviteJoinClubAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="acceptJoinClubInvitation" class="com.ccf.action.user.AcceptInvitationAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="refuseJoinClubInvitation" class="com.ccf.action.user.RefuseInvitationAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="joinClub" class="com.ccf.action.user.JoinClubAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="replyJoinClub" class="com.ccf.action.user.ReplyJoinClubAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="muteNotification" class="com.ccf.action.user.MuteNotificationAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	<!-- ajax stuff -->
	<bean id="ajaxLoginAction" class="com.ccf.action.user.UserAjaxLoginAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	<bean id="ajaxCheckNotificationAction" class="com.ccf.action.user.AjaxCheckNotification" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	<bean id="ajaxLoadUserNameAction" class="com.ccf.action.user.GetUserNameAjaxAction" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	<bean id="ajaxSearchSuggestionAction" class="com.ccf.action.user.SearchSuggestionAction" scope="prototype">
		<property name="userService" ref="userService" />
		<property name="clubService" ref="clubService" />
	</bean>
	
	<!-- ClubAction -->
	<bean id="addClubAction" class="com.ccf.action.club.AddClubAction" scope="prototype">	
		<property name="service" ref="clubService" />	
	</bean>
	
	<bean id="listClubAction" class="com.ccf.action.club.ListClubAction" scope="prototype">
		<property name="service" ref="clubService" />
	</bean>
	
	<bean id="goClubIndexAction" class="com.ccf.action.club.GoClubIndexAction" scope="prototype">
		<property name="service" ref="clubService" />
	</bean>
	
	<bean id="goClubProfileAction" class="com.ccf.action.club.GoClubIndexAction" scope="prototype">
		<property name="service" ref="clubService" />
	</bean>
	
	<bean id="updateClubProfileAction" class="com.ccf.action.club.UpdateClubAction" scope="prototype">
		<property name="service" ref="clubService" />
	</bean>
	
	<bean id="leaderClubAction" class="com.ccf.action.club.ClubLeaderPageAction" scope="prototype">
		<property name="service" ref="clubService" />
	</bean>
	
	<!-- Stev-Admin Action -->
	<bean id="addTestAccount" class="com.ccf.action.stev.AddTestUserAction" scope="prototype">
		<property name="service" ref="stevService" />
	</bean>	
	
	<bean id="memberList" class="com.ccf.action.club.ListClubAction" scope="prototype">
		<property name="service" ref="clubService" />
	</bean>	
	
	<bean id="personnelChanges" class="com.ccf.action.stev.MemberModified" scope="prototype">
		<property name="service" ref="stevService" />
	</bean>	
	
	<bean id="testFreemarkerAction" class="com.ccf.action.stev.TestFreemarker" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="freemarkerUserListAction" class="com.ccf.action.stev.FreemarkerUserList" scope="prototype">
		<property name="service" ref="userService" />
	</bean>
	
	<bean id="personelChangeAction" class="com.ccf.action.user.PersonelChangeAction" scope="prototype">
		<property name="userService" ref="userService" />
		<property name="clubService" ref="clubService" />
	</bean>
	
	<bean id="operateProvinceAction" class="com.ccf.action.province.ListProvinceAction" scope="prototype">
		<property name="prService" ref="provinceService" />
	</bean>
	
	<bean id="operateCityAction" class="com.ccf.action.city.ListCityAction" scope="prototype">
		<property name="ctService" ref="cityService" />
	</bean>
	
	<bean id="saveAndFetchLastProvinceAction" class="com.ccf.action.province.AddAndFetchLastDataAction" scope="prototype">
		<property name="prService" ref="provinceService" />
	</bean>
	
	<bean id="saveAndFetchLastCityAction" class="com.ccf.action.city.AddAndFetchLastDataAction" scope="prototype">
		<property name="ctService" ref="cityService" />
	</bean>
	
	<bean id="updateAndReturnProvinceDataAction" class="com.ccf.action.province.UpdateProvinceAction" scope="prototype">
		<property name="prService" ref="provinceService" />
	</bean>
	
	<bean id="updateAndReturnCityDataAction" class="com.ccf.action.city.UpdateCityAction" scope="prototype">
		<property name="ctService" ref="cityService" />
	</bean>
	
</beans>